[submodule "externals/chartjs"]
	path = externals/chartjs
	url = https://github.com/chartjs/Chart.js.git
[submodule "externals/chartjs-plugin-zoom"]
	path = externals/chartjs-plugin-zoom
	url = https://github.com/chartjs/chartjs-plugin-zoom.git
[submodule "externals/mysqltuner"]
	path = externals/mysqltuner
	url = https://github.com/major/MySQLTuner-perl
[submodule "externals/libglicko"]
	path = externals/libglicko
	url = https://bitbucket.org/coh/libglicko.git
[submodule "externals/jScrollPane"]
	path = externals/jScrollPane
	url = https://github.com/vitch/jScrollPane
[submodule "externals/crunch"]
	path = externals/crunch
	url = https://github.com/DaemonEngine/crunch
