/*
@font-face {
    font-family: 'Helvetica';
    font-weight: normal;
    font-style: normal;
    src: url('res/Helvetica-Regular.ttf') format('truetype');
}
*/

::-webkit-scrollbar {
    background: transparent;
    width: var(--scrollbar-size);
    height: var(--scrollbar-size);
}

::-webkit-scrollbar-track {
    border-radius: calc(var(--scrollbar-size) / 2);
    background: revert;
}

::-webkit-scrollbar-thumb {
    border-radius: var(--border-radius);
    border-left: 2px solid rgba(0,0,0,0.35);
    background: rgba(255,255,255,0.25);
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(59,198,184,0.5);
}

* {
    scrollbar-color: rgba(59,198,184,0.75) revert;
    scrollbar-width: var(--scrollbar-size);
    padding: 0px;
    margin: 0px;
}

div[data-loading="true"] .loading {
    visibility: visible;
}
div[data-loading="false"] .loading {
    visibility: hidden;
}
.loading {
    display: inline-block;
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
}
.loading span.indicator {
    color: rgba(218, 192, 160, 0.2);
    animation: spin 14s linear infinite;
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
span.symbol.biohazard {
    display: inline-block;
    width: 15vh;
    height: 15vh;
    font-size: 15vh;
    transform: translate(-50%,-50%);
    transform-origin: center;
    text-align: center;
}
span.symbol.biohazard:before {
    display: inline-block;
    transform: translate(0,-10%);
    content: "\2623";
    width: 100%;
    height: 100%;
    font-size: 1em;
}

:root {
    --field-width: 22vw;
    --border-size: 1px;
    --border-radius: 6px;
    --thead-height: 4em;
    --scrollbar-size: 12px;

    --logo-height: 10.5vh;
    --menu-height: 5vh;

    --content-width: calc(100vw - 16px);
    --content-height: calc(100vh - var(--logo-height) - var(--menu-height));

    --content-inner-width: calc(var(--content-width) - 2em);
    --content-inner-height: calc(var(--content-height) - 2.6em - 0.5vh);
}

* {
    box-sizing: border-box;

    padding: 0px;
    margin: 0px;
}

body {
    font-size: 1.4vh;
    background-color: #252322;

    text-shadow: 0px 0px 5px #000;
    color: #efedec;

    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;

    overflow: hidden;
}

h1, h2, h3, h4, h5, h6 {
    color: #dfdddc;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

h1:first-child, h2:first-child, h3:first-child, h4:first-child, h5:first-child, h6:first-child {
    padding-top: 0px;
}

::selection {
    background: rgba(59,198,184,0.75);
    color: #efefef;
}

h1.title, h2.title, h3.title, h4.title, h5.title, h6.title {
    display: block;

    background: rgba(59,198,184,0.75);
    color: #efedec;
    text-align: center;
}

table {
    border-collapse: collapse;
    border-radius: var(--border-radius);
}

tr {
    text-shadow: 0px 0px 5px #000;
    color: #efefef;
}

tr td {
    text-align: center;
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 6px;
    padding-bottom: 6px;
    margin: 0px;
}

tr th {
    text-align: left;
    font-weight: bold;
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 6px;
    padding-bottom: 6px;
}

div#logo {
    position: absolute;
    display: block;

    background-color: #343434;
    background-image: radial-gradient(50% 92%,ellipse farthest-corner, #343434, #0a0a0a);
    background-image: -webkit-radial-gradient(50% 92%,ellipse farthest-corner, #343434, #0a0a0a);
    background-image: -moz-radial-gradient(50% 92%,ellipse farthest-corner, #343434, #0a0a0a);
    background-image: -ms-radial-gradient(50% 92%,ellipse farthest-corner, #343434, #0a0a0a);
    background-image: -o-radial-gradient(50% 92%,ellipse farthest-corner, #343434, #0a0a0a);
  
    height: var(--logo-height);
    min-width: 100vw;
    width: 100%;
    top: 0%;
    left: 0%;
    z-index: -2000;
}

div#logo > div#left {
    position: absolute;
    display: block;
    background: url('/images/logo/logo_left.png') no-repeat scroll left bottom transparent;
    background-size: contain;
    height: 100%;
    width: 50%;
    top: 0%;
    left: 0%;
    z-index: -2000;
}

div#logo > div#right {
    position: absolute;
    display: block;
    background: url('/images/logo/logo_right.png') no-repeat scroll right bottom transparent;
    background-size: contain;
    height: 100%;
    width: 50%;
    top: 0%;
    right: 0%;
    z-index: -2000;
}

div#logo > div#image {
    position: absolute;
    display: block;
    background: url('/images/logo/site_logo.png') no-repeat scroll 50% -1vh transparent;
    background-size: contain;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: -2000;
}

div#logo > div#links_background {
    display: block;
    position: absolute;
    bottom: 0%;
    left: 12.5vh;
    right: 12.5vh;

    margin: 0px;
    padding: 0px;

    height: 2em;
    line-height: 2em;
    text-align: center;
    color: #0ef;
    font-size: 1.67em;

    z-index: -2000;
}

div#logo > div#links {
    display: block;
    position: absolute;
    bottom: 0%;
    left: 21vh;
    right: 21vh;
    height: 1.4em;
    line-height: 1.4em;
    text-align: center;
    color: #efefef;
    font-size: 1.47em;

    padding: 0px;
    margin: 0px;
    
    z-index: 2000;
}

/* begin: server names in links section */
div#logo > div#links span {
    display: inline-block;
    text-decoration: none;
}
div#logo > div#links span.selected {
    display: inline-block;
    text-decoration: underline;
}
/* end: server names in links section */

div#logo > div#links a,
div#logo > div#links a:visited {
    display: inline-block;
    height: 1.47em;

    padding: 0px;
    margin: 0px;

    color: #efefef;
}

div#logo > div#links a:active,
div#logo > div#links a:hover {
    display: inline-block;
    height: 1.47em;

    padding: 0px;
    margin: 0px;
  
    color: #0ef;
}

div#menu {
    position: absolute;
    display: block;
    text-shadow: 0px 0px 5px #000;
    color: #efefef;
    width: 100%;
    height: var(--menu-height);
    top: var(--logo-height);
    min-width: 100vw;

    background-color: #3D3C3A;
    background-image: radial-gradient(50% 8%,ellipse farthest-corner, #483D3D, #3d3c3a);
    background-image: -webkit-radial-gradient(50% 8%,ellipse farthest-corner, #483D3D, #3d3c3a);
    background-image: -moz-radial-gradient(50% 8%,ellipse farthest-corner, #483D3D, #3d3c3a);
    background-image: -ms-radial-gradient(50% 8%,ellipse farthest-corner, #483D3D, #3d3c3a);
    background-image: -o-radial-gradient(50% 8%,ellipse farthest-corner, #483D3D, #3d3c3a);

    /*
    background-image: url('/images/logo/menu_gradient.png');
    background-repeat: repeat-x;
    background-position: 0% 0%;
    background-attachment: scroll;
    background-size: contain;
    */
    
    z-index: 2000;
}

div#menu > ul {
    display: inline-block;
    padding-left: 2vh;
    padding-right: 2vh;
    padding-top: 0px;
    padding-bottom: 0px;
    margin: 0px;
    height: 5vh;
    list-style-type: none;
    overflow: hidden;
    list-style: none;
}

div#menu > ul > li {
    display: inline-block;
    padding-left: 1vh;
    padding-right: 1vh;
    padding-top: 0px;
    padding-bottom: 0px;
    margin: 0px;
    line-height: 5vh;
    list-style: none;
}

div#menu > ul > li > a,
div#menu > ul > li > a:visited {
    transition: color 0.5s;
    background: transparent;
    color: white;
    font-size: 1.47em;
    font-weight: normal;
    text-decoration: none;
}

div#menu > ul > li > a:hover,
div#menu > ul > li > a:active {
    font-size: 1.47em;
    font-weight: normal;
    text-decoration: none;
    color: #0ef;
}

div#page {
    display: block;
    position: absolute;
    left: 0px;
    width: 100%;
    top: 15.5vh;
    bottom: 0px;
    overflow-x: hidden;
    overflow-y: auto;
    vertical-align: top;
    font-size: 1.25em; 
}

div#content_wrapper {
    display: block;
    overflow: auto;
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
}
    
div#content {
    display: inline-block;
    left: 0px;
    top: 0px;
    width: var(--content-width);
    min-width: var(--content-width);
    margin: 0px;
    padding: 1em;
    min-height: var(--content-height);
}

div#footer {
    font-size: 0.6em;
    position: absolute;
    bottom: 0.5vh;
    right: calc(0.5vh + 16px);
    color: rgba(96,96,96,0.7);
    z-index: -1000;
}

/* loading */

div#loading {
    display: block;
    position: absolute;
    overflow: hidden;
    background: #252525;
    left: 0px;
    right: 0px;
    top: calc(var(--logo-height) + var(--menu-height));
    height: var(--content-height);
    /* bottom: -245px; */
    z-index: 1000;
    font-size: 1.25em;
    margin: 0px;
    padding: 0px;
}

p.loading {
    display: block;
    overflow: auto;
    margin: 0px;
    padding: 0px;
    color: rgba(59,198,184,1);
    width: 100%;
    height: 100%;
    text-align: center;
    vertical-align: center;
}

/* common containers */

.list {
    /* display: block; */
    padding: 0px;
    margin: 0px;
    overflow-x: hidden;
    overflow-y: auto;
}

.list tr td:nth-child(odd) {
    background: rgba(255,255,255,0.25);
}

.list tr td:nth-child(even) {
    background: rgba(255,255,255,0.20);
}

.list tr th {
    text-align: center;
    padding: 0px;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 6px;
    padding-right: 6px;
}

.list tr th:nth-child(odd) {
    text-align: center;
    background: rgba(255,255,255,0.25);
}

.list tr th:nth-child(even) {
    text-align: center;
    background: rgba(255,255,255,0.20);
}

.list tr.title th {
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 6px;
    padding-right: 6px;
    border-bottom: 2px solid rgba(0,0,0,0.1);
    background: rgba(59,198,184,0.8);
    /* background: url('/images/logo/menu_tile.png') repeat scroll 0% 0% transparent; */
}

.list tr.header th:nth-child(odd) {
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 6px;
    padding-right: 6px;
    /* border-bottom: 1px solid rgba(0,0,0,0.1); */
    margin-left: 6px;
    margin-right: 6px;
    margin-top: 0px;
    margin-bottom: 0px;
    background: rgba(255,255,255,0.25);
    /* background: -webkit-linear-gradient(rgba(59,198,184,0.8),rgba(255,255,255,0.25)); */
}

.list tr.header th:nth-child(even) {
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 6px;
    padding-right: 6px;
    /* border-bottom: 1px solid rgba(0,0,0,0.1); */
    margin-left: 6px;
    margin-right: 6px;
    margin-top: 0px;
    margin-bottom: 0px;
    background: rgba(255,255,255,0.2);
    /* background: -webkit-linear-gradient(rgba(59,198,184,0.8),rgba(255,255,255,0.2)); */
}

p {
    color: #efefef;
    text-decoration: none;
}

a {
    color: #efefef;
    text-decoration: none;
    cursor: pointer;
    border-bottom: none;
}

a:hover {
    color: rgba(59,198,184,0.75);
    text-decoration: none;
}


a:hover span,
a:visited:hover span { /* override for color codes in emoticons */
    text-decoration: none;
    text-decoration: underline;
    text-decoration-color: rgba(59,198,184,0.75);
}

a:hover span.smiley,
a:visited:hover span.smiley {
    text-decoration: none;
}

a:active {
    color: #efefef;
    text-decoration: none;
}

a:visited {
    color: #efefef;
    text-decoration: none;
}

a:visited:hover {
    color: rgba(59,198,184,0.75);
    text-decoration: none;
}

.aliens {
    color: #ff3300;
}

.humans {
    color: #3366ff;
}

.field {
    display: inline-block;
    padding: 0px;
    margin: 0px;
}

.barWithCaptions {
    display: inline-block;
    position: relative;
    padding: 0px;
    margin: 0px;
    font-size: 0.8em;
    font-weight: bold;
    color: #cfcfcf;
    vertical-align: middle;
    min-width: calc(var(--field-width) + 6.5em);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: clip;
}

.barWithCaptions .bar {
    width: calc(100% - 6.5em);
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 3.25px;
    margin-right: 3.25px;
    padding: 0px;
}

.highlight {
    background: #5f5f5f;
}

.favorites {
    display: inline-block;
    vertical-align: top;
    padding: 0px;
    margin: 0px;
    border-radius: var(--border-radius);
    border: var(--border-size) solid rgba(0,0,0,0.1);
    overflow: hidden;
}

div.tools {
    display: block;
    padding: 8px;
    margin: 0px;
    background: none repeat scroll 0% 0% rgba(59,198,182,0.75);
    text-shadow: 0px 0px 5px #000;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 1.67em;
    color: #efefef;
    font-weight: bold;
}

div.tools > a,
div.tools > a:active,
div.tools > a:visited {
    display: inline-block;
    text-decoration: none;
    padding: 0px;
    margin: 0px;
    color: #efefef;
    font-weight: bold;
}

div.tools > a:hover {
    color: rgba(59,198,184,0.75);
    text-decoration: none;
}

div#graph {
    display: block;
    padding: 0px;
    margin: 0px;
}

div#graph div.tools {

}

div.scroll {
    display: block;
}

.jqplot-target {
    background: #252525;
    color: black;
}

.jqplot-axis {
    color: #ffffff;
}

.jqplot-axis-tick {
    color: #00ff00;
}

.jqplot-axis-label {
    color: black;
}

.jqplot-title {
    padding: 4px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 1.67em;
    font-weight: bold;
    text-decoration: none;
    color: #ffffff;
}

/*.jqplot-cursor-tooltip {
}*/
.jqplot-highlighter-tooltip {
    display: block;
    border-radius: 4px;
    /*max-width: 14em;
    max-height: 4em;*/
}

table.jqplot-table-legend {
    display: block;
    background: rgba(94,94,94,0.5);
}

table.jqplot-table-legend tr td {
    text-align: left;
    color: black;
    font-weight: bold;
    text-shadow: none;
}

.jqplot-grid-canvas {
    color: rgba(59,198,184,0.75)
    background: transparent;
}

button[type="submit"],
input[type="submit"] {
    background: rgba(255,255,255,0.25);
    color: #efefef;

    text-shadow: 0px 0px 5px #000;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #efefef;

    border-top: 1px solid rgba(255,255,255,0.5);
    border-left: 1px solid rgba(255,255,255,0.5);
    border-bottom: 1px solid rgba(0,0,0,0.5);
    border-right: 1px solid rgba(0,0,0,0.5);
    
    border-radius: var(--border-radius);
}

button[type="submit"]:hover,
input[type="submit"]:hover {
    background: rgba(59,198,184,0.5);
    border-top: 1px solid #47efde;
    border-left: 1px solid #47efde;
    border-bottom: 1px solid #2fa095;
    border-right: 1px solid #2fa095;
}

button[type="submit"]:active, button[type="submit"]:focus,
input[type="submit"]:active, input[type="submit"]:focus {
    background: rgba(59,198,184,0.5);
    border-top: 2px solid #47efde;
    border-left: 2px solid #47efde;
    border-bottom: 2px solid #2fa095;
    border-right: 2px solid #2fa095;
}

input[type="text"] {
    border-radius: var(--border-radius);
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    background: #efefef;
    color: black;
}

input[type="text"]:active, input[type="text"]:focus {
}

.contentfill {
    display: inline-block;
    top: 12px;
    bottom: 12px;
    left: 12px;
    right: 12px;
}

.scrollable {
    display: block;
    overflow: scroll !important;
}

/* Element size controls */

.fill {
    display: inline-block;
    width: 100%;
    height: 100%;
    padding: 0px !important;
    margin: 0px !important;
}

.fullheight {
    height: var(--content-inner-height);
    min-height: var(--content-inner-height) !important;
}

.halfheight {
    height: calc(var(--content-inner-height) / 2.0 - 1em);
    max-height: calc(var(--content-inner-height) / 2.0 - 1em) !important;
    min-height: calc(var(--content-inner-width) / 4.0 - 1em) !important;
}

.fullwidth {
    padding: 0px;
    margin: 0px;
    width: calc(var(--content-inner-width) - 1.0em);
}

.halfwidth {
    padding: 0px;
    margin: 0px;
    width: calc(var(--content-inner-width) / 2 - 0.70em);
}

/* Field type based dimension controls */

.date {
    min-width: 6em;
}

.time {
    min-width: 5em;
}

.name {
    min-width: 12em;
}

.text {
    min-width: 12em;
}

.number {
    min-width: 3em;
}

.next {
    display: none;
}

/* Common selectors */
.selected {
    color: rgba(59,198,184,0.75);
    text-decoration: none;
}

/* Generic on hover tooltips */

a.tooltip { outline:none; }

a.tooltip strong { line-height:30px; }
a.tooltip:hover { text-decoration:none; }
a.tooltip span {
    z-index:800; display:none; padding:7px 10px;
    margin-top:-30px; margin-left:8px;
    width:300px; line-height:16px;
}
a.tooltip:hover span {
    display:inline; position:absolute; color:#efefef;
    border:1px solid #dca; background:rgba(59,198,182,0.75);
}
.callout { z-index:900; position:absolute; top:30px; border:0; left:-12px; }

/*CSS3 extras*/
a.tooltip span
{
    border-radius:4px;
    box-shadow: 5px 5px 8px #CCC;
}

ul.dropdown {
    list-style: none;
    position: relative;
    float: left;
}

ul.dropdown li {
    position: relative;
    float: left;
}

ul.dropdown ul {
    display: none;
}

ul.dropdown:hover {
    list-style: list;
}

ul.dropdown a {
    display: block;
}

/* */
canvas {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

#chartjs-tooltip {
    display: block;
    border: 1px solid white;
    backdrop-filter: blur(3px);
    border-radius: 3px;
    position: absolute;
    opacity: 1;
    background: transparent;
    pointer-events: none;
    -webkit-transition: all .1s ease;
    transition: all .1s ease;
    border-radius: var(--border-radius);
    /*-webkit-transform: translate(50%,0);
    transform: translate(50%,0);*/
}

.chartjs-tooltip-key {
    display: inline-block;
    width: 10px;
    height: 10px;
}

#chartjs-tooltip table > thead {
    height: 3em;
    max-height: 3em;
}

#chartjs-tooltip table > tbody > tr td {
    /* padding: 4px; */
}

#chartjs-tooltip .container {
    opacity: 0.8;
    /*background: rgba(0.3,0.3,0.3,0.7); gray*/
    backdrop-filter: blur(3px);
    box-shadow: 4px 4px 2px rgba(0.1,0.1,0.1,0.7);
}

/*
#chartjs-tooltip tr:nth-child(even)
{
    line-height: 1em;
    font-size: 1em;
    margin: 0px;
    padding: 0px;
}

#chartjs-tooltip tr:nth-child(odd) {
    line-height: 0.8em;
    font-size: 0.8em;
    margin: 0px;
    padding: 0px;
}

#chartjs-tooltip tr:first-child {
    line-height: 1em;
    font-size: 1em;
    margin: 0px;
    padding: 0px;
}

#chartjs-tooltip tr th {
    text-align: left;
    color: lightgray;
}
#chartjs-tooltip tr td
{
    text-align: center;
}

#chartjs-tooltip tr td span.info
{
    text-align: center;
    top: -0.5em;
}

#chartjs-tooltip tr.title th
{
    text-align: center;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 6px;
    padding-right: 6px;
    border-bottom: 2px solid rgba(0,0,0,0.1);
    background: rgba(59,198,184,0.8);
}
*/

.template {
    display: block;
    visibility: hidden;
    max-height: 0px;
    margin: 0px;
    padding: 0px;
}

.data {
    display: none;
    visibility: hidden;
    max-height: 0px;
    max-width: 0px;
    margin: 0px;
    padding: 0px;
}

.graph {
    margin: 0px;
    padding: 0px;
    display: inline-block;
    width: calc(var(--content-inner-width) - 1.0em);
    aspect-ratio: 3.0;
    overflow: hidden;
    border-radius: var(--border-radius);
}

.container.graph_wrapper {
    margin: 0px;
    padding: 0px;
    display: inline-block;
    max-width: calc(var(--content-inner-width) - 1.0em) !important;
    overflow: hidden;
    border-radius: var(--border-radius);
}

.container {
    word-wrap: break-word;
    font-size: 0.9em;
    display: inline-block;

    min-height: calc(var(--content-inner-height) / 2.5 - 1em);
    min-width: calc(var(--content-inner-width) / 2.0 - 1em);
    
    padding: 0px;
    margin: 0px;
    overflow-x: auto;
    overflow-y: auto;
    border-radius: var(--border-radius);
    
    vertical-align: top;
    padding-top: 0px; /* NOTE: > 0 here will cause issues with .sticky scroll content */
    padding-bottom: 0.5em;
    margin-top: 0.5em;
}

.container:first-child {
    margin-top: 0px;
}

.container:last-child {
    margin-bottom: 0px;
}

.container.noscroll {
    overflow-y: hidden !important;
    border-radius: var(--border-radius);
    min-width: 20% !important;
    min-height: 3em !important;
    max-height: 100% !important;
}

.container.noscroll table {
    border-radius: var(--border-radius);
}

.container table {
    width: 100%;
    margin: 0px;
    padding: 0px;
    /* margin-right: var(--scrollbar-size);*/
    border-spacing: 0px;
    overflow: hidden;
    border-collapse: separate;

    border-radius: var(--border-radius);
}

.container table > thead {
    /* border-bottom: 2px solid rgba(72, 152, 143, 0.8); */
}

.container table > thead > tr {
    /* padding, margin needed since otherwise .xxxFields override it */
    padding: 0px !important;
    margin: 0px !important;
    height: calc(var(--thead-height) / 2.0);
    max-height: calc(var(--thead-height) / 2.0);
}

.container table > thead > tr > th {
    padding: 0px !important;
    margin: 0px !important;
    background: url('/images/metal_background.png') repeat scroll left top rgba(33, 177, 160, 0.8);
    text-align: center;
    font-weight: bold;
    height: calc(var(--thead-height) / 2.0);
    max-height: calc(var(--thead-height) / 2.0);
    z-index: 500;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.container table > thead > tr > th.fill_column {
}

.container table:not(.rows) > tbody > tr > td:nth-child(odd) {
    background: url('/images/metal_background.png') repeat scroll left top rgba(255,255,255,0.25);
}

.container table:not(.rows) > tbody > tr > td:nth-child(even) {
    background: url('/images/metal_background.png') repeat scroll left top rgba(255,255,255,0.20);
}

.container table.rows > tbody > tr:nth-child(odd) {
    background: url('/images/metal_background.png') repeat scroll left top rgba(255,255,255,0.25);
}

.container table.rows > tbody > tr:nth-child(even) {
    background: url('/images/metal_background.png') repeat scroll left top rgba(255,255,255,0.20);
}


/* chartjs-tooltip */

div#chartjs-tooltip {
    padding: 0px;
    margin: 0px;
    background: transparent;
    border: 0px none transparent;
    border-radius: 0px;
}

div#chartjs-tooltip .container
{
    padding: 0px;
    margin: 0px;
    width: 100%;
}

div#chartjs-tooltip .container table
{
    padding: 0px;
    margin: 0px;
    width: 100%;
    min-width: 12em;
    border-radius: var(--border-radius);
    border: 0px none transparent;
}

div#chartjs-tooltip .container table tr td {
    background: rgba(192, 192, 192, 0.8) !important;
}

div#chartjs-tooltip .container table tr:nth-child(odd) td {
    font-size: 1.2em;
}

div#chartjs-tooltip .container table tr:nth-child(even) td {
    font-size: 0.8em;
    font-style: italic;
}

/* common field styles */

.container td .title {
    display: inline-block;
    min-width: 100%;
    /* font-weight: bold; */
    font-style: italic;
    margin: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0.5em;
    padding-bottom: 0px;
}

.container .sticky th {
    position: sticky;
    z-index: 200;
    top: 0px;
}

.container .sticky.hold th {
    position: fixed;
}

.container td .row {
    display: inline-block;
    min-width: 100%;
}

.container .dim {
    color: rgba(255,255,255,0.75);
}

.container .top {
    vertical-align: top;
}

.container .indexField {
    text-align: right;
    padding: 0px;
    margin: 0px;
    padding-top: 0.5em;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    vertical-align: top;
    width: calc(var(--field-width) / 4);
    min-width: 2em;
    max-width: 5em;
    text-align: center;
}

.container .rankingField {
    width: auto;
    min-width: calc(var(--field-width) + 1em);
    margin: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    text-align: center;
}

.container .rankingField .rating {
    margin: 0.5em;
}

.container .player_name {
    display: inline-block;
    border-radius: var(--border-radius);
    background: rgba(0,0,0,0.2);
    padding: 0.5em;
    margin: 0.25em;
}

.container .grid {
    margin: var(--border-size);
    padding: 0px;
    border: var(--border-size) solid #7f7f7f;
    border-radius: var(--border-radius);
    background: url('/images/rating_background.png') repeat scroll left top transparent;
}
.container .rating2 {
    display: inline-block;
    padding: 0px;
    margin: 0px;
    width: 12em;
    height: 3em;
    max-height: 4vh !important;
    max-width: calc(max(12vw,10vh)) !important;
}
.container .bar2 {
    display: inline-block;
    padding: 0px;
    margin: 0px;
    width: 32em;
    height: 3em;
    max-height: 4vh !important;
    max-width: calc(max(18vw,10vh)) !important;
}
.container .rating2 svg, .container .bar2 svg {
    display: block !important;
    padding: 0px;
    margin: 0px;
    width: 100% !important;
    height: 100% !important;
    min-width: 100% !important;
    min-height: 100% !important;
    max-width: 100% !important;
    max-height: 100% !important;
}
.bar, .rating {
    display: inline-block;
    padding: 0px;
    margin: 0px;
    aspect-ratio: 4.0;
    max-height: 20vh !important;
    min-width: var(--field-width);
    max-width: calc(max(12vw,10vh)) !important;
.bar > svg,
.rating > svg {
    margin-bottom: calc(0px - var(--border-radius));
}

.container .rating > svg {
    width: 100%;
    height: 100%;
}

.container .rankingField span.f_rank {
    display: inline-block;
    margin: 0px;
    padding: 0px;
}

.container .barField {
    width: auto;
    min-width: var(--field-width);
    margin: 0px;
    padding: 0px;
}

.container .barFieldWithCaptions {
    display: block;
    width: 100%;
    min-width: calc(var(--field-width) + 6.5em);
    overflow: hidden;
    text-overflow: clip;
    word-wrap: normal;
    margin: 0px;
    padding: 0px;
}

.container .nameField {
    width: 12em;
    min-width: 12em;
    max-width: 12em;
    vertical-align: top;
}

.container .countField {
    width: 4em;
    min-width: 2em;
    max-width: 5em;
}

.container .durationField {
    width: 8em;
    min-width: 8em;
    max-width: 8em;
}

.container .imageTextField {
    display: inline-block;
    min-width: var(--field-width);
    height: auto;
    text-align: center;
    vertical-align: top;
    padding: 0.5em;
    margin: 0px;
}

.container .imageTextField .title {
    min-width: 100%;
    display: inline-block;
    background: rgba(255,255,255,0.2);
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-left: var(--border-size) solid #7f7f7f;
    border-right: var(--border-size) solid #7f7f7f;
    border-top: var(--border-size) solid #7f7f7f;
    border-bottom: none;
    font-weight: bold;
    font-style: normal;
    padding-top: 0.25em;
    padding-bottom: 0.125em;
    padding-left: 0px;
    padding-right: 0px;
    margin: 0px;
}

.container .imageTextField .roundcorners {
    display: inline-block;
    border-top-left-radius: 0px !important;
    border-top-right-radius: 0px !important;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    border-left: var(--border-size) solid #7f7f7f;
    border-right: var(--border-size) solid #7f7f7f;
    border-bottom: var(--border-size) solid #7f7f7f;
    border-top: none;
    margin: 0px;
    padding: 0px;
    vertical-align: middle;
    min-width: 100%;
}

.container .imageTextField img {
    display: inline-block;
    margin: 0px;
    padding: 0px;
}

.container .imageTextField a {
    display: inline-block;
    margin: 0px;
    padding: 0px;
}

.container .imageTextField a:hover,
.container .imageTextField a:visited:hover {
    text-decoration: none !important;
}

.container .imageTextField a:hover span:not(.roundcorners),
.container .imageTextField a:visited:hover span:not(.roundcorners) {
    text-decoration: none !important;
    border-bottom: none !important;
}

.container .imageTextField a:hover .roundcorners,
.container .imageTextField a:visited:hover .roundcorners {
    border-bottom: var(--border-size) solid rgba(59,198,184,0.75);
    border-left: var(--border-size) solid rgba(59,198,184,0.75);
    border-right: var(--border-size) solid rgba(59,198,184,0.75);
    border-top: none;
}

.container .imageTextField a:hover .title,
.container .imageTextField a:visited:hover .title {
    border-top: var(--border-size) solid rgba(59,198,184,0.75);
    border-left: var(--border-size) solid rgba(59,198,184,0.75);
    border-right: var(--border-size) solid rgba(59,198,184,0.75);
    border-bottom: none;
    background: rgba(59,198,184,0.75);
}

.container .small {
    font-size: 0.8em;
}

.container .smaller {
    font-size: 0.6em;
}

.container .fill_column {
    min-width: 1.6vw !important;
    width: 1.6vw;
}

.roundcorners {
    display: inline-block;
    border-radius: var(--border-radius);
    overflow: hidden;
    border: 1px solid #7f7f7f;
    vertical-align: middle;
    padding: 0px;
    margin: 0px;
}

.roundcorners img {
    height: 100%;
    width: 100%;
    object-fit: contain;
    object-position: 50%;
    margin: 0px;
    padding: 0px;
    margin-bottom: calc(0px - var(--border-radius)) !important;
}

a:hover .roundcorners,
a:visited:hover .roundcorners {
    border: 1px solid rgba(59,198,184,0.75);
}

.imgNotFound {
    display: block;
    width: 100%;
    height: 100%;
    background: #3f3f3f;
    text-align: center;
    min-width: 356px
    min-height: 200px;
}

.text {
    text-align: left;
}
