.template {
    display: block;
    visibility: hidden;
    max-height: 0px;
    margin: 0px;
    padding: 0px;
}

.data {
    display: none;
    visibility: hidden;
    max-height: 0px;
    max-width: 0px;
    margin: 0px;
    padding: 0px;
}

.graph {
    display: inline-block;
    min-width: 800px;
    min-height: 400px;
    overflow: hidden;
    border-radius: 6px;
    /* border: 1px solid red; */
}

.container {
    display: inline-block;
    min-width: 800px;
    min-height: 400px;
    /*width: 100%;
    min-width: 30%;
    max-width: 100%;
    min-height: 25em;*/
    margin: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    overflow-x: auto;
    overflow-y: scroll;
    border-top-left-radius: 6px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 0px;
}

.container table {
    padding: 0px;
    margin: 0px;
    left: 0px;
    right: 0px;
    border-top-left-radius: 6px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 0px;
}

.container.noscroll {
    overflow-y: hidden !important;
    border-radius: 6px;
    min-width: 20% !important;
    min-height: 3em !important;
    max-height: 100% !important;
}

.container.noscroll table {
    border-radius: 6px;
}

.container table,
.container table thead,
.container table tbody {
    padding: 0px;
    margin: 0px;
}

.container table {
    width: 100%;
    /* max-height: 240px; */
    border-spacing: 0px;
    overflow: hidden;
}

.container table thead {
    left: 0px;
    top: 0px;
    min-height: 1em;
    width: 100%;
    background: rgba(59,198,184,0.8);
    border-bottom: 2px solid rgba(0,0,0,0.1);
}

.container table tbody {
    left: 0px;
    top: 0px;
    width: 100%;
}

.container table thead tr {
    margin: 0px;
    padding: 0px;
}

.container table thead tr th {
    text-align: center;
    font-weight: bold;
    margin: 0px;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 6px;
    padding-right: 6px;
}

.container table tbody tr {
    margin: 0px;
    padding: 0px;
}

.container table tbody tr th,
.container table tbody tr td,
{
    margin: 0px;
    padding: 0px;
}

.container table tbody tr td:nth-child(odd) {
    background: rgba(255,255,255,0.25);
}

.container table tbody tr td:nth-child(even) {
    background: rgba(255,255,255,0.20);
}

/* chartjs-tooltip */

div#chartjs-tooltip {
    padding: 0px;
    margin: 0px;
    background: transparent;
    border: 0px none transparent;
    border-radius: 0px;
}

div#chartjs-tooltip .container
{
    padding: 0px;
    margin: 0px;
    width: 100%;
}

div#chartjs-tooltip .container table
{
    padding: 0px;
    margin: 0px;
    width: 100%;
    border-radius: 6px;
    border: 0px none transparent;
    display: inline-block;
}

div#chartjs-tooltip .container table tr td {
    background: rgba(192, 192, 192, 0.8) !important;
}

div#chartjs-tooltip .container table tr:nth-child(odd) td {
    font-size: 1.2em;
}

div#chartjs-tooltip .container table tr:nth-child(even) td {
    font-size: 0.8em;
    font-style: italic;
}

/* jquery.jScrollPane style overrides - content_wrapper */

#content_wrapper > .jspContainer {
    border-radius: 0px;
}

#content_wrapper > .jspContainer > .jspVerticalBar {
    background: transparent;
    border-radius: 0px;
    width: 12px;
}

#content_wrapper > .jspContainer > .jspVerticalBar .jspTrack {
    background: rgba(255,255,255,0.25);
    border-radius: 0px;
}

#content_wrapper > .jspContainer > .jspVerticalBar .jspDrag {
    background: rgba(255,255,255,0.25);    
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

#content_wrapper > .jspContainer > .jspVerticalBar .jspDrag:hover,
#content_wrapper > .jspContainer > .jspVerticalBar .jspDrag.jspActive {
    background: rgba(59,198,184,0.5);
}

#content_wrapper > .jspContainer > .jspVerticalBar .jspCapTop {
}

#content_wrapper > .jspContainer > .jspVerticalBar .jspCapBottom {
}

#content_wrapper > .jspContainer > .jspHorizontalBar {
    background: transparent;
    border-radius: 0px;
    height: 12px;
}

#content_wrapper > .jspContainer > .jspHorizontalBar .jspTrack {
    background: rgba(255,255,255,0.25);
    border-radius: 0px;
}

#content_wrapper > .jspContainer > .jspHorizontalBar .jspDrag {
    background: rgba(255,255,255,0.25);
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

#content_wrapper > .jspContainer > .jspHorizontalBar .jspDrag:hover,
#content_wrapper > .jspContainer > .jspHorizontalBar .jspDrag.jspActive {
    background: rgba(59,198,184,0.5);
}

#content_wrapper > .jspContainer > .jspHorizontalBar .jspCapLeft {
}

#content_wrapper > .jspContainer > .jspHorizontalBar .jspCapRight {
}

#content_wrapper > .jspContainer > .jspVerticalBar .jspCorner,
#content_wrapper > .jspContainer > .jspHorizontalBar .jspCorner {
    background: rgba(255,255,255,0.25);
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 6px;
}

#content_wrapper > .jspContainer .jspArrowUp,
#content_wrapper > .jspContainer .jspArrowDown,
#content_wrapper > .jspContainer .jspArrowLeft,
#content_wrapper > .jspContainer .jspArrowRight {
    background: rgba(255,255,255,0.5);
    border-radius: 0px;
    height: 12px;
}

#content_wrapper > .jspContainer .jspArrowUp.jspDisabled,
#content_wrapper > .jspContainer .jspArrowDown.jspDisabled,
#content_wrapper > .jspContainer .jspArrowLeft.jspDisabled,
#content_wrapper > .jspContainer .jspArrowRight.jspDisabled {
    background: rgba(255,255,255,0.25);
    border-radius: 0px;
    height: 12px;
}

/* jquery.jScrollPane style overrides - container */

.container .jspContainer {
    border-radius: 6px;
}

.container .jspVerticalBar {
    background: transparent;
    border-left: 2px solid rgba(0,0,0,0.25);
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    width: 12px;
}

.container .jspVerticalBar .jspTrack {
    background: rgba(255,255,255,0.25);
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 0px;
}

.container .jspVerticalBar .jspDrag {
    background: rgba(255,255,255,0.25);    
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}

.container .jspVerticalBar .jspDrag:hover,
.container .jspVerticalBar .jspDrag.jspActive {
    background: rgba(59,198,184,0.5);
}

.container .jspCapTop {
}

.container .jspCapBottom {
}

.container .jspHorizontalBar {
    background: transparent;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    border-top: 2px solid rgba(0,0,0,0.25);
    height: 12px;
}

.container .jspHorizontalBar .jspTrack {
    background: rgba(255,255,255,0.25);
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 0px;
}

.container .jspHorizontalBar .jspDrag {
    background: rgba(255,255,255,0.25);
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}

.container .jspHorizontalBar .jspDrag:hover,
.container .jspHorizontalBar .jspDrag.jspActive {
    background: rgba(59,198,184,0.5);
}

.container .jspCapLeft {
}

.container .jspCapRight {
}

.container .jspCorner {
    background: rgba(255,255,255,0.25);
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 6px;
}
