<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=<% settings.charset %>">
    <title>New Edge Stats</title>
    <link rel="stylesheet" href="<% request.uri_base %>/css/jquery.jscrollpane.css">
    <link rel="stylesheet" href="<% request.uri_base %>/css/edgestats.css">
    <link rel="stylesheet" href="<% request.uri_base %>/css/common.css">
    <link rel="stylesheet" href="<% request.uri_base %>/css/tables.css">
    <link rel="stylesheet" href="<% request.uri_base %>/css/emoticons.css">
    <!-- Grab jQuery from a CDN, fall back to local if necessary -->
    <script src="//code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript">/* <![CDATA[ */
    !window.jQuery && document.write('<script type="text/javascript" src="<% request.uri_base %>/javascripts/jquery-3.2.1.min.js"><\/script>')
    /* ]]> */</script>
    <script src="/javascripts/jquery.mousewheel.min.js"></script>
    <script src="/javascripts/jquery.jscrollpane.js"></script> <!-- TODO: .min but needs update-->
    <script src="/javascripts/underscore-min.js"></script>
    <script src="/javascripts/common.js"></script>
  </head>
  <body>
    <div id="logo">
      <div id="image"></div>
      <div id="links_background"></div>
      <div id="links">
	<a href="http://new-edge.org">Home</a> | <a href="http://forum.new-edge.org">Forum</a> | <a href="http://stats.new-edge.org">Stats</a>
      </div>
      <div id="left"></div>
      <div id="right"></div>
    </div>
    <div id="menu">
      <ul class="links">
	<% FOREACH entry IN menu %>
	<li><a href="<% entry.link %>"><% entry.title %></a></li>
	<% END %>
      </ul>
      <ul class="servers">
	<% FOREACH s IN servers %>
	<% IF s.id == server.id %><li class="selected"><% ELSE %><li><% END %>
	<a class="server" href="?page=<% page %>&server=<% s.id %><% params %>"><% s.name.replace_all %></a>
        <% END %>
	</li>
      </ul>
    </div>
    <div id="page">
      <div id="content_wrapper">
	<% content %>
      </div>
    </div>
    <!--   
    <div id="loading">
      <p class="loading">Loading...</p>
    </div>
    -->
    <div id="footer">
      (&copy;) 2017 Tiusanen Consulting<!-- <a href="http://www.new-edge.org">New EDGE--></a>
    </div>
  </body>
</html>
