<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=<% settings.charset %>">
    <title>New Edge Stats</title>
    <link rel="stylesheet" href="/css/edgestats.css">
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/tables.css">
    <link rel="stylesheet" href="/css/emoticons.css">
    <script src="/javascripts/common.js"></script>
  </head>
  <body>
    <div id="logo">
      <div id="image"></div>
      <div id="links_background"></div>
      <div id="links">
	<% FOREACH s IN servers %>
	<% IF s.id == server.id %><span class="selected"><% ELSE %><span><% END %>
	  <a class="server" href="/server/<% s.id %>"><% s.displayname.replace_all %></a>
	</span>
	<% END %>
	<!--<a href="http://www.new-edge.org">home</a>
	<a href="http://stats.new-edge.org">stats</a>-->
      </div>
      <div id="left"></div>
      <div id="right"></div>
    </div>
    <div id="menu">
      <ul class="links">
	<% FOREACH entry IN menu %>
	<li><a href="<% entry.link %>"><% entry.title %></a></li>
	<% END %>
      </ul>
      <ul class="servers">
	<% FOREACH s IN servers %>
	<% IF s.id == server.id %><li class="selected"><% ELSE %><li><% END %>
	  <a class="server" href="/server/<% s.id %>"><% s.displayname.replace_all %></a>
	</li>
	<% END %>
      </ul>
    </div>
    <div id="page">
      <div id="content_wrapper">
	<% content %>
      </div>
    </div>
    <!-- <div id="loading">
      <p class="loading">Loading...</p>
    </div> -->
    <div id="footer">
      &copy; Tiusanen Consulting<!-- <a href="http://www.new-edge.org">New EDGE--></a>
    </div>
  </body>
</html>
