<div id="content">
  <script src="/javascripts/games.js"></script>
  <div id="games" class="container fullheight fullwidth">
    <a class="data server_id" href="<% server_id %>"></a>
    <% INCLUDE "parts/games_list.tt" %>
  </div>
</div>
